@font-face {
  font-family: "Effra-Bold";
  src: url("/src/font/Effra-Bold.woff2") format("woff2")
  
}

@font-face {
    font-family: "Effra-Heavy";
    src: url("/src/font/Effra-Heavy.woff2") format("woff2")
    
  }
  
  @font-face {
    font-family: "Effra-Medium";
    src: url("/src/font/Effra-Medium.woff2") format("woff2")
    
  }
  
  @font-face {
    font-family: "Effra-Regular";
    src: url("/src/font/Effra-Regular.woff2") format("woff2")
    
  }
  
  @font-face {
    font-family: "GoodDog";
    src: url("/src/font/GoodDog.ttf") format("ttf")
    
  }
  @font-face {
    font-family: "Inter-Bold";
    src: url("/src/font/Inter-Bold.ttf") format("ttf")
    
  }
  
  @font-face {
    font-family: "Inter-Medium";
    src: url("/src/font/Inter-Medium.ttf") format("ttf")
    
  }
  
  @font-face {
    font-family: "Roboto-Regular";
    src: url("/src/font/Roboto-Regular.ttf") format("ttf")
    
  }
  
  