@import "./reset.css";
@import "./font.css";

:root {
  --primary: #a8ff35;
  --green: #87d322;
  --button-hover: #8cc83a;
  --Black: #000000;
  --Black-2: #2b2b2b;
  --Grey-1: #8b8b8b;
  --Grey-2: #adadad;
  --Grey-3: #f5f5f5;
  --Grey-4: #f1f1f1;
  --off-white: #ffffff;
  --bg-connect-to-findtrend: #fafafa;
  --font-family: "Effra", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "GoodDog", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-link {
  display: none;
}

.nav {
  display: none;
}
.auth-btn {
  display: none;
}

.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.mob-menu {
  background-color: var(--Black);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  color: var(--Black);
  flex-direction: column;
  z-index: 101;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.mob-menu-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 104px;
}

.mob-menu-warper {
  padding: 24px 18px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mob-menu-list-item {
  color: var(--off-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
.mob-menu-login-btn {
  color: var(--off-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.mob-menu-register-btn {
  color: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  padding: 10px 32px;
  border-radius: 40px;
  background: var(--off-white);
}

/* -------------------------SECTION Find-the-trendse ---------------------------------------------- */

.Find-the-trendse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}
.Find-the-trends-titles {
  color: var(--off-white);
  font-size: 36px;
  font-weight: 900;
  line-height: 112%;
  margin-bottom: 16px;
  text-align: center;
}
.Find-the-trends-description {
  color: var(--Grey-1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 32px;
  text-align: center;
}
.Find-the-trends-btn {
  color: var(--Black);
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  border-radius: 40px;
  background: var(--primary);
  padding: 12px 24px;
  margin-bottom: 60px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Find-the-trends-item {
  color: rgb(255, 255, 255);
  font-size: 20.44px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  background: rgb(24, 24, 24);
  padding: 25px;
  width: 292px;
  border-color: rgb(0, 0, 0);
}
.Find-the-trends-item-img {
  z-index: 1;
}
.Find-the-trends-item-img-logo {
  margin-right: 12px;
}
.Find-the-trends-item-title {
  white-space: nowrap;
  overflow: hidden;
}
.Find-the-trends-item-twitter {
  transform: rotate(-4deg);
  z-index: 4;
  box-shadow: 10px 5px 5px black;
}

.Find-the-trends-item::after {
  content: "";
  position: absolute;
  width: 30%;
  right: 0;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgb(24, 24, 24) 53.646%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.Find-the-trends-item-pinterest {
  transform: rotate(2deg);
  z-index: 3;
  box-shadow: 10px 5px 5px black;
}
.Find-the-trends-item-facebook {
  transform: rotate(-2deg);
  z-index: 2;
  box-shadow: 10px 5px 5px black;
}

.Find-the-trends-item-dribbble {
  transform: rotate(4deg);
  z-index: 1;
  box-shadow: 10px 5px 5px black;
}

/* -------------------------SECTION Open new tabs is sh*t ---------------------------------------------- */

.Open-new-tabs-section {
  background-color: var(--primary);
}
.Open-new-tabs {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Open-new-tabs-title {
  color: var(--Black);
  font-size: 36px;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  margin-bottom: 80px;
}
.Open-new-tabs-item {
  color: var(--off-white);
  font-size: 20.44px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Black);
  padding: 25px;
  width: 292px;
  border-color: var(--Black);
  position: relative;
}

.Open-new-tabs-item::after {
  content: "";
  position: absolute;
  width: 30%;
  right: 0;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgb(24, 24, 24) 53.646%,
    rgba(24, 24, 24, 0.8) 100%
  );
}
.Open-new-tabs-wraper-card {
  padding: 24px;
  border-radius: 14px;
  background: var(--off-white);
  margin-bottom: 80px;
}

.Open-new-tabs-item-img {
  z-index: 1;
}
.Open-new-tabs-descr {
  color: var(--Black);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  max-width: 290px;
  text-align: center;
}

.Open-new-tabs-arrow-top {
  position: absolute;
  bottom: 100%;
  left: 70%;
}
.Open-new-tabs-arrow-title-top {
  font-family: var(--font3);
  width: 100px;
  text-align: center;
  transform: rotate(6deg);
  color: var(--Black);
  font-size: 12px;
  line-height: 12px;
}
.Open-new-tabs-arrow-bottom {
  position: absolute;
  top: 110%;
  right: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Open-new-tabs-arrow-title-bottom {
  color: var(--Black);
  font-size: 12px;
  font-family: var(--font3);
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 90px;
}
.Open-new-tabs-arrow-img-bottom {
  transform: scaleX(-1) rotate(80deg);
}

.about-findtrend-section {
  background: var(--off-white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-findtrend-title {
  color: var(--Grey-2);
  font-size: 36px;
  font-weight: 900;
  line-height: 43px;
  margin-bottom: 160px;
}
.about-findtrend-title-span {
  color: var(--Black);
  font-family: Effra;
  font-size: 36px;
  font-weight: 900;
  line-height: 43px;
}
.about-findtrend-subtitle {
  color: var(--Black);
  font-family: Effra;
  font-size: 36px;
  font-weight: 900;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}
.about-findtrend-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
.about-findtrend-item {
  border-radius: 8px;
  background: var(--Grey-3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 64px;
}

.about-findtrend-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* -------------------------connect-to-findtrend ---------------------------------------------- */

.connect-to-findtrend-section {
  background: var(--bg-connect-to-findtrend);
  padding-top: 80px;
  padding-bottom: 80px;
}

.connect-to-findtrend-title {
  color: var(--Black);
  font-size: 36px;
  font-weight: 900;
  line-height: 43px;
  text-align: center;
  margin-bottom: 50px;
}

.connect-to-findtrend-list {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.connect-to-findtrend-item-img{
  width: 30px;
}

.connect-to-findtrend-item {
  border-radius: 8px;
  background: var(--off-white);
  padding: 16px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-to-findtrend-item-aktive {
  border-radius: 8px;

  background: var(--primary);
  padding: 16px;
}
.tweet {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tweet-img {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.tweet-btn {
  color: var(--off-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  border-radius: 40px;
  background: var(--Black);
  padding: 12px 24px 12px 24px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* -------------------------connect-to-findtrend ---------------------------------------------- */

.best-deal-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.best-deal-title {
  color: var(--off-white);
  font-size: 36px;
  font-weight: 900;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.best-deal-check {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-bottom: 80px;
  max-width: 300px;
  gap: 20px;
}
.best-deal-check-Monthly {
  color: var(--off-white);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.best-deal-check-main {
  background-color: var(--off-white);
  width: 104px;
  border-radius: 99px;
  height: 44px;
  display: flex;
  align-items: center;
}

.best-deal-check-bol {
  width: 28px;
  height: 28px;
  border-radius: 99px;
  background: var(--primary);
  margin-left: 13px;
}

.best-deal-check-Yearly {
  color: var(--Grey-1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.best-deal-check-arrow {
  position: absolute;
  top: 91%;
  left: 75%;
}

.best-deal-check-arrow-title {
  color: rgb(255, 255, 255);
  font-family: var(--font3);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 50px;
  transform: rotate(6deg);
}
.best-deal-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best-deal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.best-deal-item {
  padding: 30px;
  border-radius: 15.07px;
  background: var(--off-white);
  max-width: 360px;
}

.best-deal-item-card-titile {
  color: var(--Black);
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 14px;
}
.best-deal-item-card-subtitle {
  color: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 32px;
}
.best-deal-line {
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.2;
  margin-bottom: 32px;
}
.best-deal-pise-money {
  color: var(--Black);
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  margin-right: 6px;
}
.best-deal-item-card-price {
  color: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 30px;
}
.best-deal-item-card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 170px;
}
.best-deal-item-card-list-item {
  color: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.best-deal-item-card-list-item::before {
  content: "";
  display: block;
  width: 14px;
  height: 9px;
  background-image: url("/src/img/check-mark.svg");
  background-size: cover;
  margin-right: 8px;
}

.best-deal-button {
  color: var(--Black);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  border-radius: 27.31px;
  background: var(--primary);
  width: 100%;
  padding: 14px 0 14px 0;
}
.best-deal-button:hover {
  background: var(--button-hover);
}
.best-deal-item-regular {
  background-color: var(--primary);
}
.best-deal-item-regular button {
  background-color: var(--Black);
  color: var(--off-white);
}
.best-deal-item-regular button:hover {
  background-color: var(--Black-2);
}
/* -------------------------join-email ---------------------------------------------- */

.join-email {
  background-color: var(--primary);
  padding-top: 80px;
  padding-bottom: 80px;
}

.join-email-wrppaer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-email-title {
  color: rgb(135, 211, 34);
  font-size: 36px;
  font-weight: 900;
  line-height: 112%;
  text-align: center;
  margin-bottom: 32px;
}
.join-email-title span {
  color: var(--Black);
}
.join-email-btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 40px;
  background: var(--Black);
  padding: 12px 24px 12px 24px;
}

.join-email-btn:hover {
  background-color: var(--Black-2);
}

/* -------------------------footer ---------------------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.footer-logo-img {
  margin-right: 10px;
}
.footer-logo-title {
  color: var(--Black);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.footer-link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer-link-item a {
  color: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .auth-btn {
    display: flex;
    gap: 30px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-link {
    display: block;
    color: var(--off-white);
    font-family: var(--third-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
  }
  .nav {
    display: block;
  }
  .mob-menu-open-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 12px;
  }
  .nav-list-item {
    color: var(--off-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
  .login-btn {
    color: var(--off-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
  .Find-the-trends-titles {
    font-size: 72px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 24;
    width: 700px;
  }
  .Find-the-trends-description {
    width: 450px;
  }

  .catalog-list {
    position: relative;
  }
  .Find-the-trends {
    padding-bottom: 200px;
  }
  .Find-the-trends-item-twitter {
    position: absolute;
    top: 0;
    right: 80px;
  }

  .Find-the-trends-item-pinterest {
    position: absolute;
    top: 50px;
    right: -40px;
  }

  .Find-the-trends-item-facebook {
    position: absolute;
    right: -250px;
    top: -20px;
  }

  .Find-the-trends-item-dribbble {
    position: absolute;
    right: -370px;
    top: 50px;
  }

  .about-findtrend-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
  }
  .about-findtrend-title-span {
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
  }
  .about-findtrend-subtitle{

    margin-bottom: 80px;
  }
  .about-findtrend-list{
   
    gap: 32px;
  }
  .about-findtrend-item{
    flex: 1 1 20%;
    padding: 40px;
  }
  .best-deal-list {
    display: flex;
    flex-direction: row;
  }
  .best-deal-item {
    display: flex;
    flex-direction: column;
  }
  .best-deal-item-card-list {
    margin-bottom: 40px;
  }
  .best-deal-button {
    margin-top: auto;
  }
  .join-email-title{
   max-width: 740px;
font-size: 72px;
font-weight: 900;
margin-bottom: 56px;

  }
  .join-email-btn{
padding: 20px 40px 20px 40px;  

}
.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;

}
.footer-logo-link{
margin-bottom: 0;
margin-right: 20px;
}
.footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-link-list{
  flex-direction: row;
}
.tweet{
 max-width: 800px;
 margin-left: auto;
 margin-right: auto;
}
.connect-to-findtrend-list{
  margin-bottom:77px;
}
.connect-to-findtrend-item{
  width: 124px;
  height: 124px;
}
.connect-to-findtrend-item-img{
  width: 60px;
}
}
